:host {
  display: block;
}

.selected {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.menu {
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}

.item {
  padding: 5px;
}
